.nav{
    width: 70em;
    height: 5em;
    border: 2px solid blue;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

img{
    width: 10%;
    height: 70%;
}

li{
    display: inline-block;
    color: white;
}

ul li
{
    list-style-type: none;
    color: white;
}